<!-- register Page-->
<mat-card class="example-card">
    <mat-card-content>
<form [formGroup]="regformgrp" class="example-form" (ngSubmit)="RegisterUser()">
<h1 style="color:midnightblue">Register</h1>
<hr  style="color:midnightblue"/>
<mat-form-field class="example-full-width;">
    <div class="form-group">
      <label>Firstname</label>
      <br>
  <input matInput type="text" formControlName="firstName"/>
  </div>
</mat-form-field><br>
<mat-form-field class="example-full-width">
    <div class="form-group">
        <label>Lastname</label>
         <br>
  <input matInput type="text" formControlName="lastName"/>
</div>
</mat-form-field><br>
<mat-form-field class="example-full-width">
    <div class="form-group">
        <label>Email</label>
         <br>
  <input matInput type="email" formControlName="email"/>
</div>
</mat-form-field><br>
<mat-form-field class="example-full-width">
    <div class="form-group">
        <label>Password</label>
        <br>
  <input matInput type="password" formControlName="password"/>
</div>
</mat-form-field><br>
<div>
  <label>Gender </label> &nbsp;
<mat-radio-group aria-label="Select an option" formControlName="gender">
    <mat-radio-button value="Male">Male</mat-radio-button> &nbsp;
    <mat-radio-button value="Female">Female</mat-radio-button>
  </mat-radio-group>
</div>
<br>
<mat-form-field>
    <input matInput type="text" formControlName="phone" required placeholder="phoneNumber"/>
    <br>
    <mat-icon matSuffix>phone</mat-icon>
    <mat-hint>Include area code</mat-hint>
  </mat-form-field><br>
<button  type="submit" mat-raised-button color="accent" [disabled]="regformgrp.invalid">Signup</button>
<br>
<br>
<span>Already have an account? <a routerLink='/login'> Please Login</a></span>
</form>
</mat-card-content>
</mat-card> 
